<div class="navbar max-w-7xl mx-auto">
    <div class="p-4 flex">
        <a routerLink="/">
            <img src="assets/images/Favicon.png" alt="Site Logo" class="h-[100px] w-[100px]">
        </a>

        <div class="ms-auto flex items-center">
            <a routerLink="/createpost" class="bg-indigo-500 text-white text-[18px] font-normal px-4 py-2 rounded-md hover:bg-indigo-600 hover:shadow-2xs transition-colors duration-300">
                Create Post
            </a>
        </div>
   </div>
</div> 